*{
    font-family: Arial, sans-serif;
    text-decoration: none;
}
body{
    background: #312E2B;
}

h1, h2, p {
    color: white;
    font-family: Arial, sans-serif;
}

video{
    width: 100% !important;
    height: auto !important;
}

.topnav {
    background-color: #779556;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #EBECD0;
    text-align: center;
    padding: 14px;
    font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #456324;
    color: #B9BA9E;
}

.card {
    max-width: 400px;
    margin-top: 10px;
    background-color: #4A4948;
    display: flex;
}
.card div {

}
.card img {
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    height: 150px;
    width: auto;
}
.card ul{
    margin-top: auto;
    margin-bottom: auto;
    list-style: none;
    padding: 4px;
}

.card li{
    color: white;
}

#download {
    background-color: white;
    padding: 5px;
    font-size: 20px;
    color: #312E2B;
}

